// VARIABLES used
$FontAwesome: 'FontAwesome';
// Main fonts
$value: 16;
$width-full: 100%;
$height-full: 100%;

$main-color: #005661;
$dark-blue:#00363f;
$bg-hover-color: #1a7e8a;
$white: #fff;
$black: #000;
$orange: #f4711b;
$yellow:#effa05;
$parrot-green:#a3fd39;
$red: #fd3939;
$blue: #0034ae;
$purple: #a669d2;
$off-white:#ddd;
$red: #ef4b24;
$alt-white: #f4f4f4;
$light-blue: #c8f7ff;
$light-black: #262626;
$grey: #d5d5d5;
$sky-blue: #24c6ef;
$light-white:#928781; 
$indicators-color: #a9fbf5;
$alt-grey: #3a3a3a;
$light-grey: #2a2a2a;
$off-grey: #e4e5e7;
$grey-author: #707070;
$fb-color: #475993;
$twitter-color: #00aaf2;
$linkedin-color: #0077b7;
$google-color:#f34a38;
$youtube-color: #f61c0d;
$cc-grey:#ccc;
$tab-bg-color: #ebebeb;
$srch-border-color: #d6d6d6;
$srch-input-box-color: #a5a5a5;
$disable-btn-bg: #7c1c05;
$light-orange: #d3a107;
$green: #02b71c;
$grey-white: #f3f3f3;
$grey-border: #e3e3e3;
$mitti-color:#d0cfcf;
$model-header-border-color:#017d8b;
$close-btn-border: #039fb1;
$radio-btn-color: #028d9d;